//variables//

//colore di sfondo main
$bg_primary : #0282f9;
//Colore dei testi della navbar
$text_color : #0281f7;
//colore del main content
$bg_secondary : #1c1c1c;
$primary_color : white;
//colore dei social e dei link veloci
$secondary_color : #787878;
//colore del footer
$bg_footer_color : #303030;